.header {
  display: flex;
  padding: 16px 20px;
  justify-content: space-around;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
}

.header-left > img {
  height: 42px;
}

.header-left {
  display: flex;
  justify-content: space-evenly;
}

.header-input {
  display: flex;
  align-items: center;
  background-color: #e4e6eb;
  margin-left: 10px;
  padding: 10px;
  border-radius: 999px;
}

.header-input > input {
  outline-width: 0;
  border: none;
  background-color: transparent;
}

.header-cent {
  display: flex;
  justify-content: center;
  flex: 1;
}

.header-icons > .MuiSvgIcon-root {
  color: gray;
}

.header-icons:hover > .MuiSvgIcon-root {
  color: #ff1493;
}

.header-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 30px;
}

.header-icons:hover {
  background-color: #e4e6eb;
  border-radius: 10px;
  align-items: center;
  border-bottom: none;
  padding: 0 30px;
}

.header-icons--active > .MuiSvgIcon-root {
  color: #ff1493;
}

.header-icons--active {
  border-bottom: 4px solid #ff1493;
}

.header_right-options {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
}

.header_right-options > h4 {
  margin-left: 10px;
}
